/* Start Variables */

:root {
    --main-color: #f4cb1e;
    --trans-dur: 0.3s;
    --Section-padding: 100px;
}

/* End Variables */

/* Start Global Rules */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */

/* Start Component */

button.comp {
    padding: 15px 40px;
    background-color: var(--main-color, #f4cb1e);
    color: white;
    border: none;
    transition: var(--trans-dur, 00.3s);
    -webkit-transition: var(--trans-dur, 00.3s);
    -moz-transition: var(--trans-dur, 00.3s);
    -ms-transition: var(--trans-dur, 00.3s);
    -o-transition: var(--trans-dur, 00.3s);
    cursor: pointer;
}

button.comp:hover {
    background-color: #d2d1d6;
}


/* End Component */

/* Start Header */

header {
    background-color: #13110e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
    border-bottom: 15px solid #c6cad5;
    min-height: 120px;
}

header .logo {
    cursor: pointer;
    transform: translateX(150px);
    -webkit-transform: translateX(150px);
    -moz-transform: translateX(150px);
    -ms-transform: translateX(150px);
    -o-transform: translateX(150px);
}

@media (max-width: 991px) {
    header .logo {
        transform: translateX(110px);
        -webkit-transform: translateX(110px);
        -moz-transform: translateX(110px);
        -ms-transform: translateX(110px);
        -o-transform: translateX(110px);
    }
}

@media (max-width: 576px) {
    header .logo {
        transform: translateX(90px);
        -webkit-transform: translateX(90px);
        -moz-transform: translateX(90px);
        -ms-transform: translateX(90px);
        -o-transform: translateX(90px);
    }
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 125px;
    height: 100%;
    background-color: #f3a90a;
    border-right: 15px solid #c6cad5;
}

@media (max-width: 991px) {
    header::before {
        width: 90px;
    }
}

@media (max-width: 576px) {
    header::before {
        width: 60px;
    }
}

header img {
    width: 88px;
}

@media (max-width: 768px) {
    header nav {
        display: none;
    }
}

header nav ul {
    display: flex;
    align-items: center;
}

header nav ul li {
    padding: 20px 5px;
}

@media (min-width: 1199px) {
    header nav ul li {
        padding: 20px;
    }
}

@media (max-width: 991px) {
    header nav ul li {
        padding: 20px 15px;
    }
}

header nav ul li a {
    color: white;
    text-transform: uppercase;
    font-size: 17px;
    transition: var(--trans-dur, 0.3s);
    -webkit-transition: var(--trans-dur, 0.3s);
    -moz-transition: var(--trans-dur, 0.3s);
    -ms-transition: var(--trans-dur, 0.3s);
    -o-transition: var(--trans-dur, 0.3s);
}

header nav ul li a:hover,
header nav ul li i:hover {
    color: var(--main-color, #f4cb1e);
}

header nav ul li a.active {
    color: var(--main-color, #f4cb1e);
}

header nav ul li i {
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: var(--trans-dur, 0.3s);
    -webkit-transition: var(--trans-dur, 0.3s);
    -moz-transition: var(--trans-dur, 0.3s);
    -ms-transition: var(--trans-dur, 0.3s);
    -o-transition: var(--trans-dur, 0.3s);
}

@media (max-width: 991px) {
    header nav ul li:nth-last-child(2) {
        display: none;
    }
}

header nav ul li button {
    padding: 15px 40px;
    text-transform: uppercase;
}

@media (max-width: 991px) {
    header nav ul li:last-of-type {
        display: none;
    }
}

div.menu {
    display: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-right: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    div.menu {
        display: flex;
    }
}

div.menu span {
    display: block;
    background-color: #fcfcfc;
    width: 100%;
    height: 5px;
    margin-bottom: 5px;
}

/* End Header */

/* Start Landing */

.landing {
    background-image: url(../photos/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 840px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) and (max-width: 991px) {
    .landing {
        min-height: 605px;
    }
}

.landing .container {
    text-align: center;
    color: white;
}

.landing .container h1 {
    font-size: 86px;
    margin: -40px 0 10px;
}

@media (min-width: 1199px) {
    .landing .container h1 {
        font-size: 110px;
    }
}

@media (max-width: 991px) {
    .landing .container h1 {
        font-size: 49px;
    }
}

.landing .container p {
    font-size: 17px;
    line-height: 1.7;
    margin-bottom: 65px;
}

.landing .container a {
    display: block;
    width: fit-content;
    margin: 0 auto;
    color: white;
    text-transform: capitalize;
    font-size: 17px;
    padding: 15px 70px;
    border: 4px solid var(--main-color, #f4cb1e);
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.landing .container a:hover {
    background-color: #13110e;
}

/* End Landing */

/* Start Three Boxes */

.three-boxes {
    margin-top: -100px;
}

.three-boxes .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .three-boxes .container {
        justify-content: center;
    }
}

.three-boxes .container .box {
    flex-basis: calc((100% / 3) - 30px);
    box-shadow: 0 0 95px rgb(13 3 3 / 56%);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    z-index: 2;
}

@media (max-width: 768px) {
    .three-boxes .container .box {
        flex-basis: 80%;
        margin-bottom: 50px;
    }
}

.three-boxes .container .box img {
    width: 100%;
}

/* End Three Boxes */

/* Start Hottest */

.hottest {
    padding-top: var(--Section-padding, 100px);
    padding-bottom: var(--Section-padding, 100px);
}

.hottest .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .hottest .container {
        flex-direction: column;
    }
}

.hottest .container .head {
    width: 40%;
}

@media (max-width: 768px) {
    .hottest .container .head {
        width: 80%;
        margin-bottom: 50px;
    }
}

@media (max-width: 576px) {
    .hottest .container .head {
        width: 100%;
    }
}

.hottest .container .head h2 {
    font-size: 50px;
    line-height: 2;
}

@media (max-width: 991px) {
    .hottest .container .head h2 {
        font-size: 33px;
    }
}

.hottest .container div:last-of-type {
    width: 55%;
    padding: 60px 40px;
    background-color: var(--main-color, #f4cb1e);
    position: relative;
}

@media (max-width: 768px) {
    .hottest .container div:last-of-type {
        width: 80%;
    }
}

@media (max-width: 576px) {
    .hottest .container div:last-of-type {
        width: 100%;
    }
}

.hottest .container div:last-of-type::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -80px;
    border-width: 40px;
    border-style: solid;
    border-color: transparent var(--main-color, #f4cb1e) transparent transparent;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

@media (max-width: 768px) {
    .hottest .container div:last-of-type::before {
        display: none;
    }
}

.hottest .container div:last-of-type p {
    font-size: 17px;
    color: white;
    line-height: 1.7;
}

/* End Hottest */

/* Start Choose */

.choose {
    background-color: #242323;
    padding-top: var(--Section-padding, 100px);
    padding-bottom: var(--Section-padding, 100px);
    position: relative;
}

.choose::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(../photos/choose_bottom_cross.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 195px;
    background-position: center center;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
}

.choose .container {
    color: white;
}

.choose .container .title {
    width: 60%;
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    .choose .container .title {
        width: 100%;
    }
}

.choose .container .title h2 {
    font-size: 50px;
    margin-bottom: 30px;
}

.choose .container .title p {
    line-height: 1.7;
    font-size: 17px;
}

.choose .container .choose-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

@media (max-width: 991px) {
    .choose .container .choose-content {
        flex-direction: column;
    }
}

.choose .container .choose-content .text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 55%;
}

@media (max-width: 991px) {
    .choose .container .choose-content .text {
        margin-bottom: 60px;
        flex-basis: 100%;
    }
}

.choose .container .choose-content .text .box {
    flex-basis: calc((100% / 2) - 30px);
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
}

@media (max-width: 576px) {
    .choose .container .choose-content .text .box {
        flex-basis: 100%;
    }
}

.choose .container .choose-content .text .box .image {
    background-color: var(--main-color, #f4cb1e);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    height: 50px;
    margin-right: 20px;
}

.choose .container .choose-content .text .box .image img {
    width: 30px;
}

.choose .container .choose-content .text .box .sub h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.choose .container .choose-content .text .box .sub p {
    line-height: 2;
}

.choose .container .choose-content .img-holder {
    background-color: white;
    flex-basis: 35%;
    height: 280px;
}

@media (min-width: 1199px) {
    .choose .container .choose-content .img-holder {
        height: 320px;
    }
}

.choose .container .choose-content .img-holder img {
    width: 100%;
    transform: translate(-50px, 24px);
    -webkit-transform: translate(-50px, 24px);
    -moz-transform: translate(-50px, 24px);
    -ms-transform: translate(-50px, 24px);
    -o-transform: translate(-50px, 24px);
}

@media (max-width: 991px) {
    .choose .container .choose-content .img-holder img {
        transform: translate(-20px, 10px);
        -webkit-transform: translate(-20px, 10px);
        -moz-transform: translate(-20px, 10px);
        -ms-transform: translate(-20px, 10px);
        -o-transform: translate(-20px, 10px);
    }
}

@media (max-width: 768px) {
    .choose .container .choose-content .img-holder img {
        transform: translate(-5px, 5px);
        -webkit-transform: translate(-5px, 5px);
        -moz-transform: translate(-5px, 5px);
        -ms-transform: translate(-5px, 5px);
        -o-transform: translate(-5px, 5px);
    }
}

.choose .container button.comp {
    font-size: 17px;
    text-transform: capitalize;
    padding: 20px 50px;
}

/* End Choose */

/* Start Products */

.products {
    padding-top: var(--Section-padding, 100px);
    padding-bottom: var(--Section-padding, 100px);
}

.products h2 {
    font-size: 50px;
    margin-left: 100px;
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    .products h2 {
        margin-left: 50px;
    }
}

.products .gallary {
    display: grid;
    grid-template-areas: "one one two three"
        "four four five five";
    gap: 20px;
}

@media (max-width: 768px) {
    .products .gallary {
        display: flex;
        flex-direction: column;
        width: 95%;
        margin: 0 auto;
    }
}

.products .gallary .photo {
    position: relative;
    box-shadow: 0 0 51px rgb(13 3 3 / 13%);
    height: 365px;
}

@media (max-width: 991px) {
    .products .gallary .photo {
        height: 200px;
    }
}

@media (max-width: 768px) {
    .products .gallary .photo {
        height: auto;
    }
}

.products .gallary .photo:first-of-type {
    grid-area: one;
}

.products .gallary .photo.two-col1 {
    grid-area: four;
}

.products .gallary .photo.two-col2 {
    grid-area: five;
}

.products .gallary .photo img {
    max-width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .products .gallary .photo img {
        width: 100%;
    }
}

.products .gallary .photo h3 {
    position: absolute;
    bottom: 22px;
    right: 20px;
    font-size: 30px;
    color: white;
    text-transform: uppercase;
}

.products .gallary .photo:first-of-type h3 {
    color: black;
}


/* End Products */

/* Start About */

.about {
    padding-bottom: var(--Section-padding, 100px);
}

.about .container h2 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 100px;
}

@media (max-width: 768px) {
    .about .container h2 {
        font-size: 34px;
    }
}

.about .container .test-box {
    background-image: url(../photos/te.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 367px;
    width: 95%;
    margin: 0 auto;
}

@media (max-width: 576px) {
    .about .container .test-box {
        background: none;
        background-color: var(--main-color, #f4cb1e);
    }
}


.about .container .test-box .head {
    display: flex;
    align-items: center;
}

@media (max-width: 576px) {
    .about .container .test-box .head {
        flex-direction: column;
    }
}

.about .container .test-box .head .image {
    box-shadow: #ddd 0px 0px 10px 0px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translate(20px, -60px);
    -webkit-transform: translate(20px, -60px);
    -moz-transform: translate(20px, -60px);
    -ms-transform: translate(20px, -60px);
    -o-transform: translate(20px, -60px);
}

@media (max-width: 576px) {
    .about .container .test-box .head .image {
        transform: translate(0, -60px);
        -webkit-transform: translate(0, -60px);
        -moz-transform: translate(0, -60px);
        -ms-transform: translate(0, -60px);
        -o-transform: translate(0, -60px);
    }
}

.about .container .test-box .head h4 {
    font-size: 30px;
    margin-left: 30px;
}

@media (max-width: 768px) {
    .about .container .test-box .head h4 {
        font-size: 23px;
    }
}

.about .container .test-box p {
    color: white;
    line-height: 1.7;
    font-size: 17px;
    padding-left: 140px;
    margin-top: -30px;
}

@media (max-width: 576px) {
    .about .container .test-box p {
        padding: 0 25px;
        margin-top: 30px;
    }
}

.about .container ul.nav {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .container ul.nav li {
    background-color: var(--main-color, #f4cb1e);
    width: 70px;
    height: 15px;
    margin-right: 10px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    cursor: pointer;
}

@media (max-width: 576px) {
    .about .container ul.nav li {
        width: 50px;
    }
}

.about .container ul.nav li.active {
    background-color: #000000;
}

/* End About */